
body {
    background-color: #fff7f0;
}

header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    
    background-color: rgb(100, 71, 43);
    border: solid black 1px;
    display: flex;
    margin: -0.7%;
    justify-content: center;
    padding: 10px;
    text-align: center;
 
}

.logo>img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
 
ul {
    display: flex;
    gap: 20px;
}
 
ul li {
    list-style-type: none;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
 
a:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s all;
}
 
li{
    margin-top: 20px;
    margin-left: 50px;
}

h1, p {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;

    font-size: 17px;
}

.instrumentos_musicais>img {
    width: 100px;
    height: 80px;
    margin-left: 5px;
}


.instrumentos_musicais  {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    margin-left: 5px;
} 

.instrumentos {
    margin: 30px;
    background-color: rgb(100, 71, 43);
    width: 350px;
    height: 550px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
    color: #fff;
}

.instrumentos>img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.instrumentos>h1 {
    font-size: 24px;
    padding-top: 10px;
}

.instrumentos>p {
    text-align: center;
    font-size: 17px;
    padding-top: 17px;
}

.instrumentos .link_1 {
    background: #363434;
    padding: 17px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 50px;
 }

 .instrumentos_2  {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    margin-left: 270px;
    width: 800px;
    height: 500px;
    border-radius: 15px;
    text-align: center;
} 


.instrumentos_2>img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.instrumentos>h1 {
    font-size: 24px;
    padding-top: 10px;
}

.instrumentos_2>p {
    text-align: center;
    font-size: 17px;
    padding-top: 17px;
}

.instrumentos_2 .link_1 {
    background: #363434;
    padding: 17px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 50px;   
 }

.paragrafo {
    margin-top: 150px;
    text-align: center;
    font-size: 17px;
 }

 .class {
    width: 800px;

 }

